@import "../../assets/base.less";

#my,#user {
  margin-top: 20px;
  background-color: #444444;
  border-radius: 10px;
  .user-info {
    display: grid;
    grid: auto auto / 80px 1fr;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb85;
    color: #fc0;
    .avatar {
      grid-column: 1;
      grid-row: 1 / span 2;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      // border: 1px solid red;
      background-color: #333333;
    }

    h3 {
      grid-column: 2;
      grid-row: 1;
      margin-top: 10px;
    }
  }
  .tip{
    color: #ffcc00;
    font-weight: 1000;
    font-size: 1.5em;
    text-align: center;
    margin:10px 0;
  }
  .item {
    display: grid;
    grid: auto  auto auto / 80px 1fr ;
    margin: 20px 0;
    // border: 1px solid red;
    
    .date {
      grid-column: 1;
      grid-row: 1 / span 3;
      justify-self: center;
      text-align: center;

      span {
        display: block;
        color: @textLighterColor;
      }

      .day {
        font-size: 40px;
      }
    }

    h3 {
      grid-column: 2;
      grid-row: 1;
    }

    p {
      // width: 1000px;
      grid-column: 2;
      grid-row: 2;
      margin-top: 0;
      padding-right: 20px;
      // border: 1px solid red;
      overflow-wrap: anywhere;
    }

    .actions {
      display: flex;
      flex-direction: row-reverse;
      // grid-column: 3;
      // grid-row: 3;
      font-size: 12px;
      > :nth-child(1){
        margin:auto 10px;
      }
   
      a {
         color: #fc0;
        
      }
      
    }

  }
.pagination{
  padding-bottom: 10px;
}
.el-button{

  background:#2b2b2b;
}
.el-button:hover{
  background:#fc0;
}
.el-dialog, .el-pager li{
  background:#444444;
}
}